<div class="pageheader pd-y-25">
    <div class="pd-t-5 pd-b-5">
        <div class="flex justify-between">
            <h1 class="pd-0 mg-0 tx-20 text-overflow">IP Addresses</h1>
            <button class="btn btn-info" type="button" (click)="goToNewIpList()">Manage IPs</button>
        </div>
    </div>
</div>


<div class="row clearfix">
    <div class="col-md-6 offset-md-3">
        <!--================================-->
        <!-- IP Addresses Start -->
        <!--================================-->
        <div class="card mb-4 shadow-1">
            <div class="card-header">
                <h4 class="card-header-title">
                    Create New IP
                </h4>
            </div>
            <div class="card-body collapse show">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="ip_address">IP Address</label>
                            <input type="text" id="ip_address" class="form-control" placeholder="IP Address" aria-label="IP Address" aria-describedby="ip address" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="label">Comment / Label</label>
                            <input type="text" id="label" class="form-control" placeholder="Comment / Label" aria-label="Label" aria-describedby="Label" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-info">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
