<div class="page-sidebar" *ngIf="collapse === false">
    <a class="logo-box" routerLink="/">
        <span>IP Address Management</span>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li [class.active]="currentUrlPath ==='/'">
                    <a routerLink="/"><i class="fa fa-tachometer"></i> <span>Audit Log</span></a>
                </li>
                <li [class.active]="currentUrlPath.indexOf('/ip-addresses') > -1">
                    <a routerLink="/ip-addresses"><i class="fa fa-object-group"></i> <span>IP Address</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
