<!--================================-->
<!-- Page Container Start -->
<!--================================-->
<div class="page-container">

   <app-sidebar></app-sidebar>

    <!--================================-->
    <!-- Page Content Start -->
    <!--================================-->
    <div class="page-content">

      <app-header></app-header>

        <!--================================-->
        <!-- Page Inner Start -->
        <!--================================-->
        <div class="page-inner">
            <!--================================-->
            <!-- Main Wrapper Start -->
            <!--================================-->
            <div id="main-wrapper">
                <router-outlet></router-outlet>
            </div>
            <!--/ Main Wrapper End -->
        </div>
        <!--/ Page Inner End -->
        <!--================================-->
        <!-- Page Footer Start -->
        <!--================================-->
        <footer class="page-footer bg-gray-100">
            <div class="pd-y-10 pd-x-25">
                <span class="tx-italic text-muted">Copyright&copy; 2019</span>
            </div>
        </footer>
        <!-- Page Footer End -->
    </div>
    <!-- / End Page Content -->
</div>
<!--/ Page Container -->
<!--================================-->

<!--================================-->
<!-- Scroll To Top Start-->
<!--================================-->
<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
<!--/ Scroll To Top End -->
