<!--================================-->
<!-- Page Container Start -->
<!--================================-->
<div class="page-container">
    <!--================================-->
    <!-- Page Sidebar Start -->
    <!--================================-->
    <div class="page-sidebar">
        <a class="logo-box" routerLink="/">
            <span>IP Address Management</span>
        </a>
        <div class="page-sidebar-inner">
            <div class="page-sidebar-menu">
                <ul class="accordion-menu">
                    <li>
                        <a routerLink="/"><i class="fa fa-tachometer"></i> <span>Audit Log</span></a>
                    </li>
                    <li>
                        <a routerLink="ip-addresses"><i class="fa fa-object-group"></i> <span>IP Address</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/ Page Sidebar End -->
    <!--================================-->
    <!-- Page Content Start -->
    <!--================================-->
    <div class="page-content">

        <div class="page-header">
            <nav class="navbar navbar-default">
               <!--================================-->
               <!-- Brand and Logo Start -->
               <!--================================-->
               <div class="navbar-header">
                  <div class="navbar-brand">
                     <ul class="list-inline">
                        <!-- Mobile Toggle and Logo -->
                        <li class="list-inline-item"><a class="hidden-md hidden-lg" href="javascript:void(0)" id="sidebar-toggle-button"><i class="ion-navicon tx-20"></i></a></li>
                        <!-- PC Toggle and Logo -->
                        <li class="list-inline-item"><a class="text-muted hidden-xs hidden-sm" href="javascript:void(0)" id="collapsed-sidebar-toggle-button"><i class="ion-navicon tx-20"></i></a></li>
                     </ul>
                  </div>
               </div>
               <!--/ Brand and Logo End -->
               <!--================================-->
               <!-- Header Right Start -->
               <!--================================-->
               <div class="header-right pull-right">
                  <ul class="list-inline justify-content-end">
                     <!--================================-->
                     <!-- Languages Dropdown Start -->
                     <!--================================-->
                     <li class="list-inline-item dropdown hidden-xs hidden-sm">
                        <a class="text-muted" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/flags/usa.png" class="mg-b-5 wd-20 img-fluid" alt="">
                        </a>
                        <ul class="dropdown-menu languages-dropdown shadow-2">
                           <li>
                              <a href="javascript:void(0)" data-lang="en"><img src="assets/images/flags/usa.png" class="img-fluid wd-20" alt=""> <span>English-US</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)" data-lang="es"><img src="assets/images/flags/spanish.png" class="img-fluid wd-20" alt=""> <span>Spanish</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)" data-lang="fr"><img src="assets/images/flags/french.png" class="img-fluid wd-20" alt=""> <span>French</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)" data-lang="gr"><img src="assets/images/flags/germany.png" class="img-fluid wd-20" alt=""> <span>German</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)" data-lang="ru"><img src="assets/images/flags/russia.png" class="img-fluid wd-20" alt=""> <span>Russian</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)" data-lang="ru"><img src="assets/images/flags/united-kingdom.png" class="img-fluid wd-20" alt=""> <span>English-UK</span></a>
                           </li>
                        </ul>
                     </li>
                     <!--/ Languages Dropdown End -->
                     <!--================================-->
                     <!-- Notifications Dropdown Start -->
                     <!--================================-->
                     <li class="list-inline-item dropdown hidden-xs hidden-sm">
                        <a class="text-muted" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ion-ios-bell-outline tx-20"></i>
                        <span class="notification-count wave in"></span>
                        </a>
                        <ul class="dropdown-menu shadow-2">
                           <li class="notification-header">
                              <span class="float-left">Notifications (7)</span>
                              <a href="javascript:void(0)" class="float-right">Mark all as read</a>
                           </li>
                           <li class="notification-box">
                              <a href="javascript:void(0)">
                              <i class="ion-ios-camera-outline pd-r-5 tx-teal"></i>
                              <span>Steve rated your photo</span>
                              <small class="pull-right text-muted">
                              <i class="icon-clock pd-r-5"></i>Just now
                              </small>
                              </a>
                           </li>
                           <li class="notification-box">
                              <a href="javascript:void(0)">
                              <i class="ion-document pd-r-5 tx-purple"></i>
                              <span>New document available</span>
                              <small class="pull-right text-muted">
                              <i class="icon-clock pd-r-5"></i>Just now
                              </small>
                              </a>
                           </li>
                           <li class="notification-box">
                              <a href="javascript:void(0)">
                              <i class="ion-android-favorite-outline pd-r-5 tx-warning"></i>
                              <span>John added you to fav</span>
                              <small class="pull-right text-muted">
                              <i class="icon-clock pd-r-5"></i>Just now
                              </small>
                              </a>
                           </li>
                           <li class="notification-box">
                              <a href="javascript:void(0)">
                              <i class="ion-ios-stopwatch-outline pd-r-5 tx-primary"></i>
                              <span>Meeting in 1 hour</span>
                              <small class="pull-right text-muted">
                              <i class="icon-clock pd-r-5"></i>Just now
                              </small>
                              </a>
                           </li>
                           <li class="notification-box">
                              <a href="javascript:void(0)">
                              <i class="ion-document pd-r-5 tx-purple"></i>
                              <span>New document available</span>
                              <small class="pull-right text-muted">
                              <i class="icon-clock pd-r-5"></i>Just now
                              </small>
                              </a>
                           </li>
                           <li class="notification-box">
                              <a href="javascript:void(0)">
                              <i class="ion-ios-stopwatch-outline pd-r-5 tx-primary"></i>
                              <span>Meeting in 1 hour</span>
                              <small class="pull-right text-muted">
                              <i class="icon-clock pd-r-5"></i>Just now
                              </small>
                              </a>
                           </li>
                           <li class="notification-box">
                              <a href="javascript:void(0)">
                              <i class="ion-ios-speedometer-outline pd-r-5 tx-success"></i>
                              <span>Server 5 overloaded</span>
                              <small class="pull-right text-muted">
                              <i class="icon-clock pd-r-5"></i>Just now
                              </small>
                              </a>
                           </li>
                           <li class="notification-footer text-center">
                              <a href="javascript:void(0)">View All</a>
                           </li>
                        </ul>
                     </li>
                     <!--/ Notifications Dropdown End -->
                     <!--================================-->
                     <!-- Messages Dropdown Start -->
                     <!--================================-->
                     <li class="list-inline-item dropdown hidden-xs hidden-sm">
                        <a class="text-muted" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ion-ios-email-outline tx-20"></i>
                        <span class="messages-count wave in"></span>
                        </a>
                        <ul class="dropdown-menu shadow-2">
                           <li class="messages-header">
                              <span class="float-left">Messages (3)</span>
                              <a href="javascript:void(0)" class="float-right">Mark all as read</a>
                           </li>
                           <li class="messages-box">
                              <div class="row">
                                 <div class="col-lg-3 col-sm-3 col-3 text-center">
                                    <img src="assets/images/avatar/avatar4.png" class="mg-10 w-100 rounded-circle" alt="">
                                 </div>
                                 <div class="col-lg-8 col-sm-8 col-8">
                                    <strong>David John</strong>
                                    <div class="tx-12">
                                       Lorem ipsum dolor sit ipsum dolor sit amet, consectetur
                                    </div>
                                    <small class="tx-gray-500">27.11.2015, 15:00</small>
                                 </div>
                              </div>
                           </li>
                           <li class="messages-box">
                              <div class="row">
                                 <div class="col-lg-3 col-sm-3 col-3 text-center">
                                    <img src="assets/images/avatar/avatar2.png" class="mg-10 w-100 rounded-circle" alt="">
                                 </div>
                                 <div class="col-lg-8 col-sm-8 col-8">
                                    <strong>David John</strong>
                                    <div class="tx-12">
                                       Lorem ipsum dolor sit ipsum dolor sit amet, consectetur
                                    </div>
                                    <small class="tx-gray-500">27.11.2015, 15:00</small>
                                 </div>
                              </div>
                           </li>
                           <li class="messages-box">
                              <div class="row">
                                 <div class="col-lg-3 col-sm-3 col-3 text-center">
                                    <img src="assets/images/avatar/avatar6.png" class="mg-10 w-100 rounded-circle" alt="">
                                 </div>
                                 <div class="col-lg-8 col-sm-8 col-8">
                                    <strong>David John</strong>
                                    <div class="tx-12">
                                       Lorem ipsum dolor sit ipsum dolor sit amet, consectetur
                                    </div>
                                    <small class="tx-gray-500">27.11.2015, 15:00</small>
                                 </div>
                              </div>
                           </li>
                           <li class="messages-footer text-center">
                              <a href="javascript:void(0)">View All</a>
                           </li>
                        </ul>
                     </li>
                     <!--/ Messages Dropdown End -->
                     <!--================================-->
                     <!-- Profile Dropdown Start -->
                     <!--================================-->
                     <li class="list-inline-item dropdown min-w-[100px]">
                        <a class="text-muted" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="select-profile mr-2">Hi, John!</span>
                            <img src="assets/images/avatar/avatar.png" class="mg-b-10 img-fluid wd-30 inline" alt="">
                        </a>
                        <ul class="dropdown-menu profile-dropdown shadow-2" style="opacity: 0;">
                           <li>
                              <a href="page-profile.html"><i class="icon-user"></i><span>My Profile</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)"><i class="icon-pencil"></i><span>Edit Profile</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)"><i class="icon-action-redo"></i><span>Activity Log</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)"><i class="icon-calendar"></i><span>My Calendar</span></a>
                           </li>
                           <li>
                              <a href="javascript:void(0)"><i class="icon-cloud-download"></i><span>My Download</span></a>
                           </li>
                           <li>
                              <hr class="hr-style">
                           </li>
                           <li>
                              <a href="javascript:void(0)"><i class="icon-settings"></i><span>Settings</span></a>
                           </li>
                           <li>
                              <a href="page-unlock.html"><i class="icon-lock"></i><span>Lockscreen</span></a>
                           </li>
                           <li>
                              <a href="page-singin.html"><i class="icon-logout"></i><span>Sing Out</span></a>
                           </li>
                        </ul>
                     </li>
                     <!-- Profile Dropdown End -->
                  </ul>
               </div>
               <!--/ Header Right End -->
            </nav>
         </div>

        <!--================================-->
        <!-- Page Inner Start -->
        <!--================================-->
        <div class="page-inner">
            <!--================================-->
            <!-- Main Wrapper Start -->
            <!--================================-->
            <div id="main-wrapper">
                <router-outlet></router-outlet>
            </div>
            <!--/ Main Wrapper End -->
        </div>
        <!--/ Page Inner End -->
        <!--================================-->
        <!-- Page Footer Start -->
        <!--================================-->
        <footer class="page-footer bg-gray-100">
            <div class="pd-y-10 pd-x-25">
                <span class="tx-italic text-muted">Copyright&copy; 2019</span>
            </div>
        </footer>
        <!-- Page Footer End -->
    </div>
    <!-- / End Page Content -->
</div>
<!--/ Page Container -->
<!--================================-->

<!--================================-->
<!-- Scroll To Top Start-->
<!--================================-->
<a href="#" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
<!--/ Scroll To Top End -->
