<div class="pageheader pd-y-25">
    <div class="pd-t-5 pd-b-5">
        <h1 class="pd-0 mg-0 tx-20 text-overflow">Audit Log</h1>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <!--================================-->
        <!-- Audit Log Start -->
        <!--================================-->
        <div class="card mg-y-10 shadow-1">
            <div class="card-header">
                <h4 class="card-header-title">
                    Audit Log
                </h4>
            </div>
            <div class="card-body collapse show">
                <div class="pb-1 mb-2">
                    <div class="badge-warning float-right">Feature</div>
                    <a href="javascript:void(0)">Lorem ipsum dolor sit amet, vis erat denique in.</a>
                    <p class="text-muted mg-b-0">Support ID: #85645563</p>
                    <small class="text-muted">Created by: <a href="javascript:void(0)" class="text-dark">Peter Johnson</a> 1 day ago</small>
                </div>
                <div class="pb-1 mb-2">
                    <div class="badge-danger float-right">Bug</div>
                    <a href="javascript:void(0)">Lorem ipsum dolor sit amet, vis erat denique in.</a>
                    <p class="text-muted mg-b-0">Support ID: #85645563</p>
                    <small class="text-muted">Created by: <a href="javascript:void(0)" class="text-dark">Peter Johnson</a> 2 day ago</small>
                </div>
                <div class="pb-1 mb-2">
                    <div class="badge-info float-right">Informational</div>
                    <a href="javascript:void(0)">Lorem ipsum dolor sit amet, vis denique in.</a>
                    <p class="text-muted mg-b-0">Support ID: #85645563</p>
                    <small class="text-muted">Created by: <a href="javascript:void(0)" class="text-dark">Peter Johnson</a> 4 day ago</small>
                </div>
                <div class="pb-1 mb-2">
                    <div class="badge-warning float-right">Feature</div>
                    <a href="javascript:void(0)">Lorem ipsum dolor sit amet, vis erat denique in.</a>
                    <p class="text-muted mg-b-0">Support ID: #85645563</p>
                    <small class="text-muted">Created by: <a href="javascript:void(0)" class="text-dark">Peter Johnson</a> 3 day ago</small>
                </div>
                <div class="pb-1">
                    <div class="badge-success float-right">Enhancement</div>
                    <a href="javascript:void(0)">Lorem ipsum dolor sit amet, erat denique in.</a>
                    <p class="text-muted mg-b-0">Support ID: #85645563</p>
                    <small class="text-muted">Created by: <a href="javascript:void(0)" class="text-dark">Peter Johnson</a> 5 day ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
