<div class="pageheader pd-y-25">
    <div class="pd-t-5 pd-b-5">
        <h1 class="pd-0 mg-0 tx-20 text-overflow">Audit Log</h1>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <!--================================-->
        <!-- Audit Log Start -->
        <!--================================-->
        <div class="card mg-y-10 shadow-1">
            <div class="card-header">
                <h4 class="card-header-title">
                    Audit Log
                </h4>
            </div>
            <div class="card-body collapse show">
                <ng-container *ngIf="isLoading === false; else loading">
                    <ng-container *ngIf="auditLogList?.data?.logs?.total > 0; else noAuditLogs">
                        <div class="pb-1 mb-2" *ngFor="let log of auditLogList?.data?.logs?.data">
                            <div
                                class="float-right"
                                [ngClass]="{'badge-success': log.log_type == 1, 'badge-info': log.log_type == 2}"
                            >{{ log.subject }}</div>
                            <p class="text-muted mg-b-0 text-base" *ngIf="log.log_type == 1">{{ log.new_data }}</p>
                            <p class="text-muted mg-b-0 text-base" *ngIf="log.log_type == 2">
                                From <span class="badge-secondary">{{ log.old_data }}</span> to <span class="badge-primary">{{ log.new_data }}</span>
                            </p>
                            <small class="text-muted">Created by: <span class="text-dark">{{ log.user.name }}</span> at {{ log.created_at | date: 'MMM d, y, h:mm:ss a'}}.</small>
                        </div>

                        <app-pagination
                            [baseUrl]="'/'"
                            [currentPageIndex]="auditLogList?.data?.logs?.current_page"
                            [lastPageIndex]="auditLogList?.data?.logs?.last_page"
                            [pageLinks]="auditLogList?.data?.logs?.links"
                        ></app-pagination>
                    </ng-container>

                    <ng-template #noAuditLogs>
                        <div class="text-left">
                            <p class="text-base text-red-800">No audit log found.</p>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-template #loading>
                    <div class="text-center">
                        <p class="text-3xl">Please Wait</p>
                        <p><i class="fa fa-circle-o-notch fa-spin text-3xl"></i></p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
